{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/style_to_do.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="todolist not-done">
                 <h1>Todos</h1>
                    <form action="/note/{{id}}" method="POST">
                        <input id="name" name="name" type="text" class="form-control add-todo" placeholder="Add todo">
                        <br>
                        <button class="btn btn-outline-success" type="submit">Add</button>
                    </form>
                        <hr>
                        <ul id="sortable" class="list-unstyled">
                        <div id="todo_list_id">
                            {% for todo in todo_list %}
                                <div id="{{ todo._id }}-div">
                                    <p style="font-size: 24px;">{{todo.name}}</p>
                                     <a style="margin-top: 5px;" id="{{ todo._id }}" class="tododelete btn btn-sm btn-outline-danger" href="/note/delete/{{ id }}/{{todo._id}}">Delete</a>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		$(document).ready(function () {
			$('form').on('submit', function (event) {
				$.ajax({
					data: {
						name : $('#name').val(),
					},
					type: 'POST',
					url: '/note/{{ id }}'
				})
					.done(function (data) {
					   $('#todo_list_id').prepend("<div id="+data.answer._id+"-div>\n" +
                           "      <p style=\"font-size: 24px;\">"+data.answer.name+"</p>\n" +
                           "      <a style=\"margin-top: 5px;\" id="+data.answer._id+" class=\"tododelete btn btn-sm btn-outline-danger\" href=\"/note/delete/"+data.answer.note_id+"/"+data.answer._id+"\">Delete</a>\n" +
                           " <hr>").show();

					})
				event.preventDefault();
			})
		})
	</script>

    <script>
        $(document).ready(function () {
			$('.tododelete').on('click', function (event) {
			    var todo_id = this.id;
                $.ajax({
					data: {
						todo_id : this.id,
                        note_id: '{{ id }}'
					},
					type: 'GET',
					url: '/note/delete/{{ id }}/'+this.id
				})
					.done(function (data) {
                        $('#'+todo_id+"-div").remove();
					});
				event.preventDefault();

			})
		})
	</script>
	<script src="{{ static('js/js_to_do.js') }}"></script>
{% endblock %}

